body {
  margin: 0 auto;
  font-size: 16px;
  max-width: 1200px;
}

nav {
  width: 100%;
  background-color: green;  
  padding: 1em;
  box-sizing: border-box; /* tiene en cuenta el pading y el borde, pero no el margin */
}

article {
  width: 70%;
  height: 600px;
  background-color: blue;
  float: left;
  padding: 1em;
  box-sizing: border-box; /* tiene en cuenta el pading y el borde, pero no el margin */
  background-image: url(img/content-is-like-water-4.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

aside {
  width: 30%;
  background-color: red;
  float: right;
  padding: 1em;
  font-size: 1em;
  box-sizing: border-box; /* tiene en cuenta el pading y el borde, pero no el margin */
}